<div class="container">
  <br>
  <h1>Edit This Item</h1>
    <%= render "form", item: @item %>
  
  <br>

  <div>
    <%= link_to "Show this item", @item %> |
    <%= link_to "Back to items", items_path %>
  </div>
</div>

