<div class="container">
  <h1>New item</h1>
<%= turbo_frame_tag "item_frame" do %>
  <%= render "form", item: @item %>
<% end %>
  <br>

  <div>
    <%= link_to "Back to items", items_path %>
  </div>
</div>
