<div class="container">
  <h1>New location</h1>
  <%= turbo_frame_tag "location_frame" do %>
    <%= render "form", location: @location %>
  <% end %>
<br>

<div>
  <%= link_to "Back to locations", locations_path %>
</div>
